<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Простая форма</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <h1>Простая форма</h1>
    <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
        <!--В форме происходит действие = формируется объект greeting и метод post-->
        <p>Id: <input type="number" th:field="*{id}" /></p>
        <!--номер id введется в поле id, !!! number - ограничит ввод числом-->
        <p>Сообщение: <input type="text" th:field="*{content}" /></p>
        <!--текст content введется в поле content !!! text позволяет вводить что угодно-->
        <p><input type="submit" value="Отправить" /> <input type="reset" value="Сбросить" /></p>
        <!--Кнопка отправить и кнопка сбросить-->
    </form>
</body>
</html>